.customBG{
    border: 0.4rem solid #679DCB;
}
.customNavbar{
    background-color: #679DCB;
}

.customLogoBrand{
    background-color: darkblue;
    padding: 10px;
}

.customLogoBrand span{
    color: lightgray;
}

.scrollToTop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    z-index: 1000;
}
  

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}

.introCustom{
    margin-top: 5rem;
}

.aboutCustom{
    background-color: #F8F9FA;
}

.skillCustom{
    background-color: #F8F9FA;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.customPortfolioButton{
    cursor: pointer;
}

.customPortfolioButton:hover{
    opacity: 50%;
}


.my-masonry-grid {
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
}
.my-masonry-grid_column {
padding-left: 30px; /* gutter size */
background-clip: padding-box;
}

.my-masonry-grid_column > div { 
margin-bottom: 30px;
}

.footerCustomLink li a{
    text-decoration: none;
}

footer{
    background-color: #F8F9FA;
}
